{% load static %}

<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-3 col-lg-3 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img class="footerlogo" src="{% static 'img/logo.png' %}" alt=""><noscript><img src="{% static 'img/logo.png' %}"
                                        alt=""></noscript>
                            </a>
                        </div> 
                        
                    </div>
                </div>
                
                <div class="col-xl-3 col-md-3 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Quick Links
                        </h3>
                        <ul class="links">
                            <li><a href="{% url 'web:home' %}">Home</a></li>
                            <li><a href="{% url 'web:about' %}">About</a></li>
                            <li><a href="{% url 'web:destinations' %}"> Destinations</a></li>
                            <li><a href="{% url 'web:blog' %}"> Blog</a></li>
                            <li><a href="{% url 'web:contact' %}"> Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Popular destinations
                        </h3>
                        <ul class="links double_links">
                            <li><a href="#">Kovalam</a></li>
                            <li><a href="#">Wayanad</a></li>
                            <li><a href="#">Idukki</a></li>
                            <li><a href="#">Munnar</a></li>
                            <li><a href="#">Allappally</a></li>
                            <li><a href="#">Fort Kochin</a></li>
                            <li><a href="#">Thekkady</a></li>
                            <li><a href="#">Athirapally</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-lg-3">
                    <div class="footer_widget">
                    <h3 class="footer_title">
                        Address
                    </h3>
                    <p>37/1389,<br>Sreenandika,<br>Kaloor-Kadvanthara road,<br>Near Kettuvellam Restaurant,<br> Kaloor p.o,Cochin 682017.<br>
                        <a href="#">+91 9995565129</a> <br>
                        <a href="#"><span class="__cf_email__"
                               >info@sreeholidayskerala.com</span></a>
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">

                        Copyright &copy;
                        <script data-cfasync="false"
                            src="{% static 'js/email-decode.min.js' %}"></script>
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Designed  by <a
                            href="https://gedexo.com/" target="_blank">Gedexo</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
