{% load static %}

<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-3 col-lg-3 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img class="footerlogo" src="{% static 'img/logo.png' %}" alt=""><noscript><img src="{% static 'img/logo.png' %}"
                                        alt=""></noscript>
                            </a>
                        </div> 
                        
                    </div>
                </div>
                
                <div class="col-xl-3 col-md-3 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Company
                        </h3>
                        <ul class="links">
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#"> Gallery</a></li>
                            <li><a href="#"> Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Popular destination
                        </h3>
                        <ul class="links double_links">
                            <li><a href="#">Kovalam</a></li>
                            <li><a href="#">Wayanad</a></li>
                            <li><a href="#">Idukki</a></li>
                            <li><a href="#">Munnar</a></li>
                            <li><a href="#">Allappally</a></li>
                            <li><a href="#">Fort Kochin</a></li>
                            <li><a href="#">Thekkady</a></li>
                            <li><a href="#">Athirapally</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-3 col-lg-3">
                    <div class="footer_widget">
                    <h3 class="footer_title">
                        Address
                    </h3>
                    <p>11A,<br>Silver Streak Apartment,<br>Vidyanagar Cross Road,<br>Opposite Passport Office,<br>Kadvanthara PO ,Cochin 682020.<br>
                        <a href="#">+91 9995565129</a> <br>
                        <a href="#"><span class="__cf_email__"
                               >test@gmail.com</span></a>
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">

                        Copyright &copy;
                        <script data-cfasync="false"
                            src="{% static 'js/email-decode.min.js' %}"></script>
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Designed  by <a
                            href="https://gedexo.com/" target="_blank">Gedexo</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
