{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>About Us</h3>
                        <p>Creating moments and memories for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about_story">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="story_heading">
                        <h3>Our Story</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-11 offset-lg-1">
                            <div class="story_info">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <p>Sree Holidays is your best travel partner when it comes to tourism in Kerala. Our travel agency is the leading tourism provider in Kerala, India. We deliver attractive and best offer producing packages to our customers. The experienced management and dedicated staffs are keen to provide quality packages for those who love to travel. </p>
                                        <p>We developed all of our packages with an aim to achieve the traveller’s satisfaction and create memorable moments for them. Every trip is a desire, a refreshment and also can be considered as a break from the stressful living atmosphere. A temporary escape from reality with the beauty and elegance of nature. We deliver the best experience for all our clients with the best ever price for your love of travel.</p>
                                    </div>
                                </div>
                            </div>
                            {% comment %} <div class="story_thumb">
                                <div class="row">
                                    <div class="col-lg-5 col-md-6">
                                        <div class="thumb padd_1">
                                            <img src="{% static 'img/about/x1.png.pagespeed.ic.ACa2RClyj-.jpg' %}"
                                                alt=""><noscript><img src="{% static 'img/about/x1.png.pagespeed.ic.ACa2RClyj-.jpg' %}"
                                                    alt=""></noscript>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="thumb">
                                            <img src="{% static 'img/about/x2.png.pagespeed.ic.dmEvtzI5sl.jpg' %}"
                                                alt=""><noscript><img src="{% static 'img/about/x2.png.pagespeed.ic.dmEvtzI5sl.jpg' %}"
                                                    alt=""></noscript>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="counter_wrap">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="single_counter text-center">
                                            <h3 class="counter">378</h3>
                                            <p>Tour has done successfully</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="single_counter text-center">
                                            <h3 class="counter">30</h3>
                                            <p>Yearly tour arrange</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="single_counter text-center">
                                            <h3 class="counter">2263</h3>
                                            <p>Happy Clients</p>
                                        </div>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video_area video_bg overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video_wrap text-center">
                        <h3>Explore Kerala</h3>
                        <div class="video_icon">
                          <a
                            class="popup-video video_play_button"
                          >
                            <i class="fa fa-play"></i>
                          </a>
                        </div>
                        <video width="1000" id="vedioframe" controls>
                          <source src="/media/blog/nature.MP4" type="video/mp4">
                          <source src="mov_bbb.ogg" type="video/ogg">
                          Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="travel_variation_area">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="single_travel text-center">
                <div class="icon">
                  <img src="{% static 'img/svg_icon/comfortable-journey.png' %}" alt="" />
                </div>
                <h3>Comfortable Journey</h3>
                <p>Perfect Vehicles to comfort your journey.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single_travel text-center">
                <div class="icon">
                  <img src="{% static 'img/svg_icon/Package.png' %}" alt="" />
                </div>
                <h3>Incredible Packages</h3>
                <p>Delivering a visual feast to the travellers.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single_travel text-center">
                <div class="icon">
                  <img src="{% static 'img/svg_icon/Offer.png' %}" alt="" />
                </div>
                <h3>Surprising Offers</h3>
                <p>The best ever offers for your packages.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="testimonial_area">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="testmonial_active owl-carousel">
                {% for testimonial in testimonials %}
                <div class="single_carousel">
                  <div class="row justify-content-center">
                    <div class="col-lg-8">
                      <div class="single_testmonial text-center">
                        <div class="author_thumb" style="border-radius:50%;">
                          <img class="br-round"
                            src="{{testimonial.image.crop.106x106}}"
                            alt=""
                          /><noscript
                            ><img
                              src="img/testmonial/xauthor.png.pagespeed.ic.f7Oj4pl0zy.png"
                              alt=""
                          /></noscript>
                        </div>
                        <p>
                         {{testimonial.message|safe}}
                        </p>
                        <div class="testmonial_author">
                          {% if testimonial.name %}
                          <h3>{{testimonial.name}}</h3>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
               
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="recent_trip_area">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="section_title text-center mb_70">
                <h3>Recent Trips</h3>
              </div>
            </div>
          </div>
          <div class="row">
            {% for blog in blogs %}
            <div class="col-lg-4 col-md-6">
              <div class="single_trip">
                <div class="thumb">
                    <a href="{% url 'web:blogdetails' blog.slug %}">
                  <img src="{{blog.image.crop.350x241}}" alt="" /><noscript
                    ><img
                      src="{% static 'img/trip/x1.png.pagespeed.ic.8QbVwnQzjI.jpg' %}"
                      alt=""
                  /></noscript></a>
                </div>
                <div class="info">
                  <div class="date">
                    <span>{{blog.month}} {{blog.day}},{{blog.year}}</span>
                  </div>
                  <a href="{% url 'web:blogdetails' blog.slug %}">
                    <h3>{{blog.bloghead}}</h3>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %} 
          </div>
        </div>
      </div>



      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $( document ).ready(function() {
    $('#vedioframe').hide()
});
  $('.video_play_button').click(function(){
    $('.video_icon').hide()
    $('#vedioframe').show()

  });
</script>
{% endblock %}