
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="bradcam_area bradcam_bg_4">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Recent Trips</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="blog_area single-post-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <div class="feature-img">
                            <img class="img-fluid" src="{{blog.image.crop.730x365}}"
                                alt=""><noscript><img class="img-fluid"
                                    src="{% static 'img/blog/xsingle_blog_1.png.pagespeed.ic.Fwk-gqJS2v.jpg' %}" alt=""></noscript>
                                </div>
                                <p>{{blog.month}} {{blog.day}}, {%if blog.year %}{{blog.year}}{% endif %}</p>
                        <div class="blog_details">
                            <h2>{{blog.bloghead}}
                            </h2>
                            <ul class="blog-info-link mt-3 mb-4">
                              
                            </ul>
                            <p class="excert">
                               {{blog.description|safe}}
                            </p>
                           
                        </div>
                    </div>
                    <!-- <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                          
                            <div class="col-sm-4 text-center my-2 my-sm-0">

                            </div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                        <div class="navigation-area">
                            <div class="row">
                                <div
                                    class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="#">
                                            <img class="img-fluid"
                                                src="{% static 'img/post/xpreview.png.pagespeed.ic.k5btB9V1Aa.jpg' %}"
                                                alt=""><noscript><img class="img-fluid"
                                                    src="{% static 'img/post/xpreview.png.pagespeed.ic.k5btB9V1Aa.jpg' %}"
                                                    alt=""></noscript>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#">
                                            <span class="lnr text-white ti-arrow-left"></span>
                                        </a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Post</p>
                                        <a href="#">
                                            <h4>Space The Final Frontier</h4>
                                        </a>
                                    </div>
                                </div>
                                <div
                                    class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="#">
                                            <h4>Telescopes 101</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#">
                                            <span class="lnr text-white ti-arrow-right"></span>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="#">
                                            <img class="img-fluid" src="{% static 'img/post/xnext.png.pagespeed.ic.o6bzS5c3_p.jpg' %}"
                                                alt=""><noscript><img class="img-fluid"
                                                    src="{% static 'img/post/xnext.png.pagespeed.ic.o6bzS5c3_p.jpg' %}"
                                                    alt=""></noscript>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                   
                   
                    
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Other Blogs</h3>
                            {% for recentblog in recentblogs %}
                            <div class="media post_item">
                                <a href="{% url 'web:blogdetails' recentblog.slug %}">
                                <img src="{{recentblog.image.crop.100x80}}" alt="post"><noscript><img
                                        src="{% static 'img/post/xpost_1.png.pagespeed.ic.VhSDC65MTC.jpg' %}" alt="post"></noscript></a>
                                <div class="media-body">
                                    <a href="{% url 'web:blogdetails' recentblog.slug %}">
                                        <h3>{{recentblog.bloghead}}</h3>
                                    </a>
                                    <p>{{recentblog.month}} {{recentblog.day}}, {{recentblog.year}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}